<div>
    <div class="info-window pokemon-info-window text-center">
        <div>
            <img src="assets/images/pokemon/go-sprites/big/{{marker.pokemon.pokedexId}}.png" width="90">
        </div>
        <h5 class="info-window-title">
            <small class="text-muted">#{{marker.pokemon.pokedexId}}</small>
            {{marker.pokemon.name}}
        </h5>
        <div>
            <small>
                <span class="text-muted">Type:</span> {{marker.pokemon.type}}
            </small>
        </div>
        <div class="label label-primary info-window-label">
            {{marker.expirationTime}} ms
        </div>
    </div>
</div>