<div>
    <div class="info-window pokemon-info-window text-center">
        <div>
            <img src="{{marker.pokemon.bigIcon}}" width="90">
        </div>
        <h5 class="info-window-title">
            <small class="text-muted">#{{marker.pokemon.pokedexId}}</small>
            {{marker.pokemon.name}}
        </h5>
        <div>
            <span pokemon-type="{{marker.pokemon.type}}"></span>
        </div>
        <div class="info-window-label">
            {{marker.expirationTime | expiration}} remaining
        </div>
    </div>
</div>