$searchPanelHeight: 50px;

$infoPanelWidth: 250px;
$infoPanelPadding: 30px;

$infoPanelButtonLeft: -52px;


.info-panel
{
    position: absolute;
    top: $searchPanelHeight;
    right: -($infoPanelWidth + $infoPanelPadding);
    z-index: 999;

    width: $infoPanelWidth;
    margin: 15px 0;

    transition: right 0.25s ease;

    .panel-body
    {
        padding: 15px $infoPanelPadding;
    }

    .expand-arrow
    {
        position: absolute;
        left: $infoPanelButtonLeft - $infoPanelPadding;
        top: 20px;

        width: -($infoPanelButtonLeft) + 2px;
        padding: 4px;

        overflow: hidden;
    }

    &.shown
    {
        right: 0;

        .expand-arrow
        {
            left: $infoPanelButtonLeft;
        }
    }
}