.navbar
{
    @include box-shadow($gray 0 0 5px);

    .navbar-brand
    {
        font-size: 28px;
        padding: 11px 25px;
        height: auto;
        line-height: unset;

        .navbar-image
        {
            display: inline;
            margin-bottom: 6px;
        }
    }

    .navbar-form
    {
        padding: 0;

        .search-input-group
        {
            width: 100%;
        }
    }
}