.gm-style-iw
{
    & > div, & > div > div
    {
        overflow: visible !important;
    }

    .info-window
    {
        padding-left: 24px;
        margin: -10px -20px;

        .info-window-title
        {
            margin: 4px;
        }

        .info-window-label
        {
            margin: 4px;
        }
    }
}